# Conexão com o Banco de Dados PostgreSQL Soberano (GWDC)
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://gwdc_user:gwdc_password@localhost:5432/gwdc_db?schema=public"

# Ambiente de Execução
NODE_ENV="development"
PORT=3000
NEXT_PUBLIC_APP_URL="http://localhost:3000"
